.mediaViewInfo {
    --web-view-name: HomePage;
    --web-view-id: HomePage;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: HomePage;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#HomePage {
    position: absolute;
    width: 1366px;
    height: 8139px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: HomePage;
    --web-view-id: HomePage;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#SmartMove53x {
    fill: rgba(244,199,91,1);
}
.SmartMove53x {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 925px;
    left: 0px;
    top: 4121px;
}
#Rectangle_1 {
    fill: rgba(86,79,79,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 87px;
    left: 0px;
    top: 0px;
}
#Challenge {
    left: 63px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Rectangle_2 {
    fill: rgba(86,79,79,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 848px;
    left: 0px;
    top: 765px;
}
#WHAT_IS_SMART_MOVE {
    left: 297px;
    top: 1652px;
    position: absolute;
    overflow: visible;
    width: 813px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(244,199,91,1);
}
#SMART_MOVE_is_an_Innovative_Ur {
    left: 737px;
    top: 1835px;
    position: absolute;
    overflow: visible;
    width: 497px;
    height: 435px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(0,0,0,1);
}
#Details {
    left: 238px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Participation {
    left: 385px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 114px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Timeline {
    left: 585px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#News_and_Updates {
    left: 749px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 168px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Organizers {
    left: 1002px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#FAQs {
    left: 1185px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Smart_MOVE__Innovative_Urban_M {
    left: 277px;
    top: 837px;
    position: absolute;
    overflow: visible;
    width: 813px;
    height: 158px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(244,199,91,1);
    text-transform: uppercase;
}
#Organised_by_Ministry_of_Housi {
    left: 234px;
    top: 1067px;
    position: absolute;
    overflow: visible;
    width: 899px;
    height: 175px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255,255,255,1);
}
#Building_on_the_Smart_Cities_M {
    left: 225px;
    top: 1314px;
    position: absolute;
    overflow: visible;
    width: 899px;
    height: 149px;
    line-height: 38px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255,255,255,1);
}
#Rectangle_5 {
    fill: rgba(86,79,79,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 911px;
    left: 0px;
    top: 2379px;
}
#OBJECTIVES_OF_THE_CHALLENGE {
    left: 277px;
    top: 2452px;
    position: absolute;
    overflow: visible;
    width: 813px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(244,199,91,1);
}
#Set_standards_and_devise_a_fra {
    left: 102px;
    top: 2739px;
    position: absolute;
    overflow: visible;
    width: 333px;
    height: 184px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Integrating_mobility_and_urban {
    left: 519px;
    top: 2728px;
    position: absolute;
    overflow: visible;
    width: 313px;
    height: 76px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Encourage_technology_driven_in {
    left: 915px;
    top: 2728px;
    position: absolute;
    overflow: visible;
    width: 313px;
    height: 114px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Supporting_Training_and_Capaci {
    left: 320px;
    top: 3061px;
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 152px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Building_self-reliance_within_ {
    left: 741px;
    top: 3061px;
    position: absolute;
    overflow: visible;
    width: 313px;
    height: 76px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#CHALLENGE_WALKTHROUGH {
    left: 277px;
    top: 3393px;
    position: absolute;
    overflow: visible;
    width: 813px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(244,199,91,1);
}
#Ellipse_1 {
    fill: rgba(244,199,91,1);
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 177px;
    top: 3794px;
}
#Ellipse_2 {
    fill: rgba(105,191,195,1);
}
.Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 341px;
    top: 3794px;
}
#Ellipse_3 {
    fill: rgba(62,62,63,1);
}
.Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 505px;
    top: 3794px;
}
#Ellipse_4 {
    fill: rgba(220,67,81,1);
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 669px;
    top: 3787px;
}
#Ellipse_5 {
    fill: rgba(108,109,111,1);
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 833px;
    top: 3787px;
}
#Ellipse_6 {
    fill: rgba(242,175,89,1);
}
.Ellipse_6 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 1004px;
    top: 3788px;
}
#Ellipse_7 {
    fill: rgba(105,191,195,1);
}
.Ellipse_7 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 1168px;
    top: 3783px;
}
#STEP_1 {
    left: 142px;
    top: 3840px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#STEP_2 {
    left: 308px;
    top: 3840px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Component_1__1 {
    position: absolute;
    width: 88px;
    height: 29px;
    left: 473px;
    top: 3840px;
    overflow: visible;
}
#STEP_3 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#STEP_4 {
    left: 637px;
    top: 3833px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#STEP_5 {
    left: 801px;
    top: 3833px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#STEP_6 {
    left: 971px;
    top: 3834px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#STEP_7 {
    left: 1142px;
    top: 3832px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Participant_submit_the_Concept {
    left: 122px;
    top: 3875px;
    position: absolute;
    overflow: hidden;
    width: 116px;
    height: 95px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Cities_invited_to_join_as_a_pa {
    left: 295px;
    top: 3875px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 95px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Concept_Plan_shortlisted_and_m {
    left: 459px;
    top: 3875px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 95px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Cities_and_Participants_work_t {
    left: 623px;
    top: 3868px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 95px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Mentor_with_cities_national_an {
    left: 787px;
    top: 3868px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 76px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Refinement_of_proposed_solutio {
    left: 958px;
    top: 3869px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 38px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Submission_of_Final_Solution_ {
    left: 1128px;
    top: 3867px;
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 38px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#BENEFITS_FOR_THE_SOCIETY {
    left: 277px;
    top: 4177px;
    position: absolute;
    overflow: visible;
    width: 813px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(62,62,63,1);
}
#TIMELINE {
    left: 277px;
    top: 5131px;
    position: absolute;
    overflow: visible;
    width: 813px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(62,62,63,1);
}
#Ellipse_8 {
    fill: rgba(105,191,195,1);
}
.Ellipse_8 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 93px;
    top: 5358px;
}
#Ellipse_9 {
    fill: rgba(220,67,81,1);
}
.Ellipse_9 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 275px;
    top: 5358px;
}
#Ellipse_10 {
    fill: rgba(105,191,195,1);
}
.Ellipse_10 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 451px;
    top: 5358px;
}
#Ellipse_11 {
    fill: rgba(220,67,81,1);
}
.Ellipse_11 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 621px;
    top: 5358px;
}
#Ellipse_12 {
    fill: rgba(105,191,195,1);
}
.Ellipse_12 {
    width: 40px;
    height: 40px;
    position: absolute;
    overflow: visible;
    transform: matrix(1,0,0,1,840,5358) rotate(180deg);
    transform-origin: center;
}
#Ellipse_13 {
    fill: rgba(220,67,81,1);
}
.Ellipse_13 {
    width: 40px;
    height: 40px;
    position: absolute;
    overflow: visible;
    transform: matrix(1,0,0,1,1053,5358) rotate(180deg);
    transform-origin: center;
}
#Ellipse_14 {
    fill: rgba(105,191,195,1);
}
.Ellipse_14 {
    width: 40px;
    height: 40px;
    position: absolute;
    overflow: visible;
    transform: matrix(1,0,0,1,1229,5358) rotate(180deg);
    transform-origin: center;
}
#Rectangle_11 {
    fill: rgba(86,79,79,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 925px;
    left: 0px;
    top: 6444px;
}
#PARTICIPATE {
    left: 306px;
    top: 6520px;
    position: absolute;
    overflow: visible;
    width: 813px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    color: rgba(244,199,91,1);
}
#ID9_Nov_2020 {
    left: 58px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Launch_of_Smart_Move {
    left: 58px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 52px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#ID15_Nov_2020 {
    left: 234px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Registration_Open {
    left: 231px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 52px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#ID22_Dec_2020 {
    left: 410px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Submission_of_Concept_Note {
    left: 410px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 52px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#ID15_Jan_2021 {
    left: 587px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Shortlisting_of_Concept_Note {
    left: 581px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 52px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#ID15_Jan_2021_-_15_Feb_2021 {
    left: 763px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 195px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Partnering_with_the_cities_wor {
    left: 800px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 104px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#ID31_Mar_2021 {
    left: 1012px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Final_Submission {
    left: 1012px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 52px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#ID31_Apr_2021 {
    left: 1188px;
    top: 5303px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Announcement_of_Winner {
    left: 1188px;
    top: 5413px;
    position: absolute;
    overflow: visible;
    width: 122px;
    height: 52px;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(16,13,13,1);
}
#Partner_as_a_City_to_get_benef {
    left: 180px;
    top: 6830px;
    position: absolute;
    overflow: visible;
    width: 377px;
    height: 152px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255,255,255,1);
}
#Be_a_part_of_changing_the_land {
    left: 775px;
    top: 6831px;
    position: absolute;
    overflow: visible;
    width: 532px;
    height: 152px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(255,255,255,1);
}
#Rectangle_12 {
    fill: rgba(220,67,81,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 314px;
    height: 74px;
    left: 211px;
    top: 7016px;
}
#If_you_need_immediate_assistan {
    left: 79px;
    top: 7864px;
    position: absolute;
    overflow: visible;
    width: 395px;
    height: 175px;
    line-height: 48px;
    margin-top: -16.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(62,62,63,1);
}
#Line_12 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_12 {
    overflow: visible;
    position: absolute;
    width: 116px;
    height: 10px;
    left: 145.5px;
    top: 5378.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_13 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_13 {
    overflow: visible;
    position: absolute;
    width: 116px;
    height: 10px;
    left: 325.5px;
    top: 5378.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_14 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_14 {
    overflow: visible;
    position: absolute;
    width: 108px;
    height: 10px;
    left: 501.5px;
    top: 5378.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_15 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_15 {
    overflow: visible;
    position: absolute;
    width: 158px;
    height: 10px;
    left: 671.5px;
    top: 5378.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_16 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_16 {
    overflow: visible;
    position: absolute;
    width: 147px;
    height: 10px;
    left: 895.5px;
    top: 5378.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_17 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_17 {
    overflow: visible;
    position: absolute;
    width: 108px;
    height: 10px;
    left: 1107.5px;
    top: 5378.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_18 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_18 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 520.5px;
    top: 7825.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Learn_More {
    left: 287px;
    top: 7034px;
    position: absolute;
    overflow: visible;
    width: 164px;
    height: 39px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255,255,255,1);
}
#Rectangle_15 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 246px;
    height: 246px;
    left: 389px;
    top: 1807px;
}
#Rectangle_16 {
    fill: rgba(244,199,91,1);
}
.Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 240px;
    height: 246px;
    left: 149px;
    top: 1807px;
}
#Rectangle_17 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 240px;
    height: 246px;
    left: 149px;
    top: 2053px;
}
#Rectangle_18 {
    fill: rgba(105,191,195,1);
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 246px;
    height: 246px;
    left: 389px;
    top: 2053px;
}
#SMTHero2x {
    position: absolute;
    width: 1266px;
    height: 678px;
    left: 50px;
    top: 87px;
    overflow: visible;
}
#Asset_12x {
    position: absolute;
    width: 1169px;
    height: 186px;
    left: 99px;
    top: 3556px;
    overflow: visible;
}
#SmartCity2x {
    position: absolute;
    width: 201px;
    height: 209px;
    left: 412px;
    top: 1835px;
    overflow: visible;
}
#DigitalIndia3x {
    position: absolute;
    width: 184px;
    height: 104px;
    left: 420px;
    top: 2125px;
    overflow: visible;
}
#Aatma2x {
    position: absolute;
    width: 139px;
    height: 169px;
    left: 200px;
    top: 2092px;
    overflow: visible;
}
#Swachh2x {
    position: absolute;
    width: 160px;
    height: 70px;
    left: 197px;
    top: 1895px;
    overflow: visible;
}
#Cities_with_more_than_500000_p {
    left: 1010px;
    top: 4043px;
    position: absolute;
    overflow: visible;
    width: 340px;
    height: 39px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,13,13,1);
}
#Rectangle_20 {
    fill: rgba(244,199,91,1);
}
.Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 396px;
    left: 0px;
    top: 7369px;
}
#Rectangle_21 {
    fill: rgba(244,199,91,1);
}
.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 38px;
    height: 215px;
    left: 1020px;
    top: 6517px;
}
#Rectangle_22 {
    fill: rgba(244,199,91,1);
}
.Rectangle_22 {
    width: 38px;
    height: 380px;
    position: absolute;
    overflow: visible;
    transform: matrix(1,0,0,1,846,6523) rotate(-90deg);
    transform-origin: center;
}
#Rectangle_23 {
    fill: rgba(244,199,91,1);
}
.Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 38px;
    height: 711px;
    left: 675.5px;
    top: 6694.5px;
}
#OBJECTIVE_THAT_YOUR_SOLUTIONS_ {
    left: 193px;
    top: 7406px;
    position: absolute;
    overflow: visible;
    width: 912px;
    white-space: nowrap;
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    color: rgba(62,62,63,1);
}
#Brain22x {
    position: absolute;
    width: 753px;
    height: 882px;
    left: 544px;
    top: 5699px;
    overflow: visible;
}
#Aim12x {
    position: absolute;
    width: 68px;
    height: 67px;
    left: 52px;
    top: 7509px;
    overflow: visible;
}
#Covid_19_Recovery {
    left: 52px;
    top: 7615px;
    position: absolute;
    overflow: visible;
    width: 127px;
    height: 72px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(62,62,63,1);
}
#Multi-modal_integration_Passen {
    left: 220px;
    top: 7620px;
    position: absolute;
    overflow: visible;
    width: 276px;
    height: 72px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(62,62,63,1);
}
#Gender_and_Safety {
    left: 549px;
    top: 7616px;
    position: absolute;
    overflow: visible;
    width: 128px;
    height: 72px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(62,62,63,1);
}
#Promote_usage_of_sustainable_t {
    left: 716px;
    top: 7615px;
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 108px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(62,62,63,1);
}
#Inclusivity_and_overall_effici {
    left: 943px;
    top: 7609px;
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 108px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(62,62,63,1);
}
#Cost_efficient_solutions {
    left: 1162px;
    top: 7609px;
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 72px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(62,62,63,1);
}
#Line_19 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_19 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 187.5px;
    top: 7477.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Aim22x {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 220px;
    top: 7507px;
    overflow: visible;
}
#Line_20 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_20 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 518.5px;
    top: 7477.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_21 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_21 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 689.5px;
    top: 7477.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_22 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_22 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 916.5px;
    top: 7477.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_23 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_23 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 1135.5px;
    top: 7472.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Aim32x {
    position: absolute;
    width: 111px;
    height: 50px;
    left: 549px;
    top: 7512px;
    overflow: visible;
}
#Aim42x {
    position: absolute;
    width: 89px;
    height: 55px;
    left: 716px;
    top: 7512px;
    overflow: visible;
}
#Aim62x {
    position: absolute;
    width: 69px;
    height: 60px;
    left: 1164px;
    top: 7512px;
    overflow: visible;
}
#Aim52x {
    position: absolute;
    width: 118px;
    height: 60px;
    left: 943px;
    top: 7512px;
    overflow: visible;
}
#Rectangle_24 {
    fill: rgba(220,67,81,1);
    stroke: rgba(220,67,81,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_24 {
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 572px;
    height: 279px;
    left: 87px;
    top: 4322px;
}
#Industry_Research_Academics_an {
    left: 191px;
    top: 4373px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 72px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Rectangle_33 {
    fill: rgba(105,191,195,1);
    stroke: rgba(220,67,81,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_33 {
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 572px;
    height: 279px;
    left: 87px;
    top: 4692px;
}
#Rectangle_34 {
    fill: rgba(220,67,81,1);
}
.Rectangle_34 {
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 572px;
    height: 279px;
    left: 725px;
    top: 4692px;
}
#Technology_Driven_Sustainable_ {
    left: 188px;
    top: 4743px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 108px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Line_24 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_24 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 3px;
    left: 192.5px;
    top: 4366.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_26 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_26 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 3px;
    left: 189.5px;
    top: 4736.5px;
    transform: matrix(1,0,0,1,0,0);
}
#The_challenge_will_engage_stud {
    left: 187px;
    top: 4452px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 130px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#The_challenge_will_devise_inno {
    left: 184px;
    top: 4822px;
    position: absolute;
    overflow: visible;
    width: 380px;
    height: 130px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Rectangle_32 {
    fill: rgba(105,191,195,1);
}
.Rectangle_32 {
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 572px;
    height: 279px;
    left: 725px;
    top: 4322px;
}
#Setup_of_National_Open_Mobilit {
    left: 823px;
    top: 4373px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 108px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Unlocking_Mobility__Datasets_ {
    left: 820px;
    top: 4743px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 108px;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Line_25 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_25 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 3px;
    left: 824.5px;
    top: 4366.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_27 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_27 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 3px;
    left: 821.5px;
    top: 4736.5px;
    transform: matrix(1,0,0,1,0,0);
}
#This_initiative_will_help_esta {
    left: 819px;
    top: 4452px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 104px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#The_initiative_will_help_impro {
    left: 816px;
    top: 4822px;
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 130px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Rectangle_36 {
    fill: rgba(220,67,81,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_36 {
    position: absolute;
    overflow: visible;
    width: 359px;
    height: 74px;
    left: 860px;
    top: 7016px;
}
#Read_Challenge_Specs {
    left: 890px;
    top: 7034px;
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 39px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(255,255,255,1);
}
#Grad1 {
    position: absolute;
    width: 106px;
    height: 111px;
    left: 215px;
    top: 2604px;
    overflow: visible;
}
#Grad2 {
    position: absolute;
    width: 124.56px;
    height: 111px;
    left: 621px;
    top: 2604px;
    overflow: visible;
}
#Grad3 {
    position: absolute;
    width: 126.096px;
    height: 111px;
    left: 1008px;
    top: 2604px;
    overflow: visible;
}
#Grad4 {
    position: absolute;
    width: 105.536px;
    height: 111px;
    left: 433px;
    top: 2923px;
    overflow: visible;
}
#Grad5 {
    position: absolute;
    width: 124.875px;
    height: 111px;
    left: 835px;
    top: 2923px;
    overflow: visible;
}
#facebook {
    fill: rgba(0,0,0,1);
}
.facebook {
    overflow: visible;
    position: absolute;
    width: 23.646px;
    height: 50.881px;
    left: 586px;
    top: 7906.12px;
    transform: matrix(1,0,0,1,0,0);
}
#Connect_on_Social {
    left: 573px;
    top: 7826px;
    position: absolute;
    overflow: visible;
    width: 297px;
    white-space: nowrap;
    text-align: left;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    color: rgba(62,62,63,1);
}
#twitter {
    fill: rgba(0,0,0,1);
}
.twitter {
    overflow: visible;
    position: absolute;
    width: 56.839px;
    height: 50.881px;
    left: 668.388px;
    top: 7906.12px;
    transform: matrix(1,0,0,1,0,0);
}
#linkedin {
    fill: rgba(0,0,0,1);
}
.linkedin {
    overflow: visible;
    position: absolute;
    width: 48.776px;
    height: 51.112px;
    left: 773.647px;
    top: 7905.889px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_28 {
    fill: transparent;
    stroke: rgba(62,62,63,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_28 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 251.02px;
    left: 911.5px;
    top: 7826.5px;
    transform: matrix(1,0,0,1,0,0);
}
#dataspace_logo {
    position: absolute;
    width: 316.799px;
    height: 55.422px;
    left: 982px;
    top: 7893px;
    overflow: visible;
}
#Group_2 {
    position: absolute;
    width: 149.508px;
    height: 43.363px;
    left: 0px;
    top: 7.457px;
    overflow: visible;
}
#Path_1 {
    fill: rgba(65,34,142,1);
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 15.442px;
    height: 33.38px;
    left: 0px;
    top: 0.312px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
    fill: rgba(65,34,142,1);
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 14.584px;
    height: 24.099px;
    left: 18.952px;
    top: 9.827px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
    fill: rgba(65,34,142,1);
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 10.061px;
    height: 31.041px;
    left: 34.628px;
    top: 2.729px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
    fill: rgba(65,34,142,1);
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 14.584px;
    height: 24.099px;
    left: 45.859px;
    top: 9.827px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
    fill: rgba(65,34,142,1);
}
.Path_5 {
    overflow: visible;
    position: absolute;
    width: 16.378px;
    height: 34.004px;
    left: 63.251px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
    fill: rgba(65,34,142,1);
}
.Path_6 {
    overflow: visible;
    position: absolute;
    width: 14.194px;
    height: 33.692px;
    left: 82.826px;
    top: 9.671px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
    fill: rgba(65,34,142,1);
}
.Path_7 {
    overflow: visible;
    position: absolute;
    width: 14.584px;
    height: 24.099px;
    left: 100.374px;
    top: 9.827px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
    fill: rgba(65,34,142,1);
}
.Path_8 {
    overflow: visible;
    position: absolute;
    width: 14.272px;
    height: 24.333px;
    left: 118.624px;
    top: 9.593px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
    fill: rgba(65,34,142,1);
}
.Path_9 {
    overflow: visible;
    position: absolute;
    width: 14.272px;
    height: 24.333px;
    left: 135.236px;
    top: 9.593px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_3 {
    position: absolute;
    width: 123.225px;
    height: 39.463px;
    left: 193.573px;
    top: 8.783px;
    overflow: visible;
}
#Path_10 {
    fill: rgba(65,34,142,1);
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 22.383px;
    height: 32.288px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
    fill: rgba(65,34,142,1);
}
.Path_11 {
    overflow: visible;
    position: absolute;
    width: 14.506px;
    height: 25.035px;
    left: 27.531px;
    top: 7.799px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
    fill: rgba(65,34,142,1);
}
.Path_12 {
    overflow: visible;
    position: absolute;
    width: 14.194px;
    height: 32.678px;
    left: 47.028px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
    fill: rgba(65,34,142,1);
}
.Path_13 {
    overflow: visible;
    position: absolute;
    width: 3.276px;
    height: 32.21px;
    left: 66.604px;
    top: 0.078px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
    fill: rgba(65,34,142,1);
}
.Path_14 {
    overflow: visible;
    position: absolute;
    width: 7.253px;
    height: 32.288px;
    left: 75.651px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
    fill: rgba(65,34,142,1);
}
.Path_15 {
    overflow: visible;
    position: absolute;
    width: 3.276px;
    height: 32.21px;
    left: 86.882px;
    top: 0.078px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_16 {
    fill: rgba(65,34,142,1);
}
.Path_16 {
    overflow: visible;
    position: absolute;
    width: 10.919px;
    height: 30.806px;
    left: 94.135px;
    top: 1.56px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(65,34,142,1);
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 15.91px;
    height: 31.43px;
    left: 107.315px;
    top: 8.033px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_7 {
    position: absolute;
    width: 28.778px;
    height: 55.422px;
    left: 154.89px;
    top: 0px;
    overflow: visible;
}
#Group_4 {
    position: absolute;
    width: 3.275px;
    height: 3.636px;
    left: 25.503px;
    top: 0px;
    overflow: visible;
}
#Path_18 {
    fill: rgba(249,157,46,1);
}
.Path_18 {
    overflow: visible;
    position: absolute;
    width: 3.275px;
    height: 3.636px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_5 {
    position: absolute;
    width: 23.085px;
    height: 44.035px;
    left: 2.808px;
    top: 5.693px;
    overflow: visible;
}
#Path_19 {
    fill: rgba(249,157,46,1);
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 23.085px;
    height: 44.035px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
    position: absolute;
    width: 3.275px;
    height: 3.636px;
    left: 0px;
    top: 51.786px;
    overflow: visible;
}
#Path_20 {
    fill: rgba(249,157,46,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 3.275px;
    height: 3.636px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
