.navbar {
  background: #160B0B;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  /* position: sticky; */
  top: 0;
  z-index: 999;
  width: 100vw;
  color: whitesmoke;
}

.navbar>a{
  text-decoration: none;
  color: white;
}

/* .navbar__items{
    display: flex;
}

.navbar__items > ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  color: whitesmoke;
  justify-content: space-between;
} */

